#a{
    background-color: pink;
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
#b{
    background-color: rgb(107, 200, 236);
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block ;
    /* visibility: hidden; */
}
#c{
    background-color: rgb(52, 245, 161);
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
}
#d{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0,235,255,0.2);
}
#e{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0,235,255,0.5);
}
#f{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0,235,255,0.8);
}
#g{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    background-color: rgba(0,235,255,1);
}
